/* ==========================================================================
   Sommaire
   1 = Layout general
   2 = Apps
   3 = User
   ========================================================================== */

/* ==========================================================================
   1 = Layout general
   ========================================================================== */

body {
  background: #41444F;
}

a { text-decoration: none; }

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'source_sans_probold';
  font-weight: normal;
}

.sourcePro {
  font-family: 'source_sans_proregular';
}

.sourceProBold {
  font-family: 'source_sans_probold';
}

.sourceProBlack {
  font-family: 'SourceSansPro-Black';
}

.wrapper {
  width: 90%;
  margin: 2% 5%;
          transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  z-index: 10;
}

/* ==========================================================================
   2 = Apps
   ========================================================================== */

.listing-apps li {
  margin: 0 0 1em 1em;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4), 
              -2px -2px 3px 0 rgba(0, 0, 0, 0.7) inset;
}

.listing-apps a {
  display: block;
  position: relative;
  padding: 0.2em;
  top: 0;
  left: 0;
  width: 2.7em;
  height: 2.7em;
  background: #666;
  color: #FFFFFF;
  font-size: 4em;
          transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
  .listing-apps a:hover,
  .listing-apps a:focus {
    left: -10px;
    top: -10px;
    box-shadow: none;
  }
  .listing-apps a:hover:before,
  .listing-apps a:focus:before {
    height: 10px;
  }
  .listing-apps a:hover:after,
  .listing-apps a:focus:after {
    width: 10px;
  }

  .listing-apps a:hover:after, 
  .listing-apps a:focus:after,
  .listing-apps a:hover:before,
  .listing-apps a:focus:before {
    background: #333;
  }

  .listing-apps a:after,
  .listing-apps a:before {
    content: "";
    position: absolute;
            transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
  }

  .listing-apps a:before {
    width: 100%;
    height: 0;
    left: 5px;
    top: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
            transform: skew(45deg, 0deg);
    -webkit-transform: skew(45deg, 0deg);
  }

  .listing-apps a:after {
    width: 0;
    height: 100%;
    left: 100%;
    top: 5px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.4);
            transform: skew(0deg, 45deg);
    -webkit-transform: skew(0deg, 45deg);
  }

.listing-apps span {
  display: block;
  font-size: 0.3em;
  margin: -1.2em 0 0 0.2em;
}    

/* ==========================================================================
   3 = User
   ========================================================================== */

.user-container a { color: #FFF; }

.user-container h2 {
  font-size: 1.5em;
  margin-bottom: 0;
}
  .user-container h2 small {
    font-size: 0.75em;
    font-family: 'source_sans_proregular';
    display: block;
    margin-top: -0.5em;
  }

.user-mail { color: #999; }

.user-img {
  margin-right: 1em;
  border: 3px solid #FFF;
  width: 4em;
  height: 4em;
  border-radius: 90px;
  overflow: hidden;
  margin: 0.2em auto;
}