/* ==========================================================================
   Sommaire
   1 = Layout general
   2 = Apps
   3 = User
   4 = Login Form
   ========================================================================== */

/* ==========================================================================
   1 = Layout general
   ========================================================================== */

body {
  background: #41444F;
}

a { text-decoration: none; }

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'source_sans_probold';
  font-weight: normal;
}

.sourcePro {
  font-family: 'source_sans_proregular';
}

.sourceProBold {
  font-family: 'source_sans_probold';
}

.sourceProBlack {
  font-family: 'SourceSansPro-Black';
}

.wrapper {
  width: 90%;
  margin: 2% 5%;
          transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  z-index: 10;
}

.overlay {
  padding: 2%;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 0.5em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e800";
}
.icon-lock:before {
  content: "\e801";
}
.icon-left-open:before {
  content: "\e802";
}
.icon-right-open-1:before {
  content: "\e803";
}
.icon-upload:before {
  content: "\e604";
}
.icon-comments:before {
  content: "\e602";
}
.icon-envelope:before {
  content: "\e603";
}
.icon-connexion:before {
  content: "\e600";
}

.logo {
  position: absolute;
  bottom: 0;
  right: 1em;
  z-index: 10;
}

select, 
.form-text, 
textarea {
  border: 0;
}

/* ==========================================================================
   2 = Apps
   ========================================================================== */

.apps { margin: 4% 5%; }

.listing-apps li {
  margin: 0 0 1em 1em;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4), 
              -2px -2px 3px 0 rgba(0, 0, 0, 0.7) inset;
}

.listing-apps a {
  display: block;
  position: relative;
  padding: 0.2em;
  top: 0;
  left: 0;
  width: 2.7em;
  height: 2.7em;
  background: #666;
  color: #FFFFFF;
  font-size: 4em;
          transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
  .listing-apps a:hover,
  .listing-apps a:focus {
    left: -10px;
    top: -10px;
    box-shadow: none;
  }
  .listing-apps a:hover:before,
  .listing-apps a:focus:before {
    height: 10px;
  }
  .listing-apps a:hover:after,
  .listing-apps a:focus:after {
    width: 10px;
  }

  .listing-apps a:hover:after, 
  .listing-apps a:focus:after,
  .listing-apps a:hover:before,
  .listing-apps a:focus:before {
    background: #333;
  }

  .listing-apps a:after,
  .listing-apps a:before {
    content: "";
    position: absolute;
            transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
  }

  .listing-apps a:before {
    width: 100%;
    height: 0;
    left: 5px;
    top: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
            transform: skew(45deg, 0deg);
    -webkit-transform: skew(45deg, 0deg);
  }

  .listing-apps a:after {
    width: 0;
    height: 100%;
    left: 100%;
    top: 5px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.4);
            transform: skew(0deg, 45deg);
    -webkit-transform: skew(0deg, 45deg);
  }

.listing-apps span {
  display: block;
  font-size: 0.3em;
  margin: -1.2em 0 0 0.2em;
}    

/* ==========================================================================
   3 = User
   ========================================================================== */

.user-container { padding: 0.4em 1em; }

.user-container a { color: #FFF; }

.user-container h2 {
  font-size: 1.5em;
  margin-bottom: 0;
}
  .user-container h2 small {
    font-size: 0.75em;
    font-family: 'source_sans_proregular';
    display: block;
    margin-top: -0.6em;
  }

.user-info { margin-left: 0.5em;}

.user-mail {
  color: #999;
  font-size: 0.9em;
  display: block;
  margin-top: -0.2em;
}

.user-img {
  margin-right: 1em;
  border: 3px solid #FFF;
  width: 4em;
  height: 4em;
  border-radius: 90px;
  overflow: hidden;
  margin: 0.2em auto;
}

.user-menu {
  float: right;
}
  .user-menu a {
    color: #999;
    display: block;
    padding: 1.25em 3em;
    position: relative;
            transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    z-index: 1;
  }
    .user-menu a:hover,
    .user-menu a:focus {
      color: #FFF;
    }

/* ==========================================================================
   4 = Login form
   ========================================================================== */

.logo-login {
  text-align: center;
  margin-bottom: 1em;
  opacity: 0.5;
}

.login-form {
  width: 21em;
  margin: auto;
  height: 18em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -9em 0 0 -10.5em;
}

.login-form .btn {
  width: 100%; 
  padding: 0.8em 1em;
}

.form-group {
  position: relative;
  margin-bottom: 1em;
  background: #FFF;
}

  .form-group label {
    display: inline-block;
    min-width: 1em;
  }

  .form-group label:before {
    background: #EEE;
    color: #666;
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5em;
    height: 100%;
    line-height: 2.5em;
    text-align: center;
  }

  .form-group .form-text {
    padding: 0.8em 0.8em 0.8em 3em;
    width: 100%;
  }