body {
  background: rgb(104,104,104);
}

.sourcePro {
  font-family: 'source_sans_proregular';
}

.sourceProBold {
  font-family: 'source_sans_probold';
}

.sourceProBlack {
  font-family: 'SourceSansPro-Black';
}